<%= link_to "Home", root_path %>

<%= link_to image_tag('John_Carreos.jpg', :width => "200"), 'https://www.linkedin.com/in/johncarreos' %>

<h1>About page</h1>
<p>I'm John Carreos. A web developer.</p>
<p>This is a blog app I made with the help of a tutorial in Udemy.</p>