<div class="container ">
    <footer class="footer d-flex justify-content-between">
        <small>
            Copyright &copy; John Carreos
        </small>
        <div>
            <i class="fab fa-github"></i>
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-facebook"></i>
        </div>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>